
@model test_task_app.Models.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <button onclick="GetData(event)">Appoint the role</button>
    </div>
    <div class="inline">
    </div>
    <div class="inline">
    </div>
</div>
